<div id="navbar">
    {% if user.is_authenticated %}
    <p> Hi {{ user.username }}!</p>
    <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a> {% else %}

    <p>You are not logged in</p>
    <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>

    <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>{% endif %}

    <a class="btn btn-primary" href="/hero/">List of hero</a>

    <a class="btn btn-primary" href="/hero/add">Add Hero</a>
    <a class="btn btn-primary" href="/article/">Article</a>

</div>