{%extends 'base.html'%} {%block content%}
<h1 id="friezahead">Frieza</h1>
<img id="friezapic" src="../static/pics/frieza.jpg" alt="">
<p id="friezap"> Frieza is one bad man. He destroyed so many planets. He also destroyed a planet full of monkey <br> because he was afraid the monekeys were going to be stronger than him and kill him. <br> he was right. in the end those monekeys did end up killing him.
    But before his death he still blew up many planets and kill <br> many people.</p>
{%endblock%}