{%extends 'base.html'%} {% block content %}
<h1 id="picolohead">Picolo</h1>
<img id="picolopic" src="../static/pics/picolo.jpg" alt="">
<p id="picolop"> Picolo is a step dad. A great step dad. While goku was dead, he took care of goku's kid. <br> he trained him to become one of the strongest fighter in the universe. Picolo is also a fighter. He one time almost beat cell. <br> but he didn't because of
    vegeta. He has a special attack called beam attack. He it alot to take out his enemies.</p>
{% endblock %}