<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/style/main.css">

    <title>Super News</title>
</head>

<body>
    <h1 id="head">The Best Fighters</h1>
    <br>
    <br>
    <br>
    <br>
    <ul id="list">

        <a class="btn btn-success" href="broly">Broly</a>

        <br>
        <br>
        <a class="btn btn-danger" href="buu">Buu</a>

        <br>
        <br>

        <a class="btn btn-primary" href="frieza">Frieza</a>

        <br>
        <br>

        <a class="btn btn-success" href="picolo">Picolo</a>

        <br>
        <br>

        <a class="btn btn-warning" href="popo">Popo</a>

    </ul>
    <img id="logo" src="../static/pics/logo.jpg" alt="baby goku">

</body>

</html>