#spiderman {
    width: 350px;
    height: 300px;
}

body {
    background-color: coral;
    text-align: center;
}

#undertaker {
    width: 350px;
    height: 300px;
}

#taylor {
    width: 350px;
    height: 300px;
}