{%load static%}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">



</head>

<body>
    <h1>Welcome to the main page. Click the links!</h1>
    <ol>
        <li><a href="cena">John Cena</a></li>
        <li><a href="super">Spiderman</a></li>
        <li><a href="undertaker">The Undertaker</a></li>
        <li><a href="virus"> Click to get virus :> </a></li>

    </ol>
    <br>
    <br>
    <br>
    <img id="taylor" src="../static/taylor.jpg" alt="taylor">


</body>

</html>