{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Spidyyyyyy</title>

</head>

<body>
    <h1>Spiderman</h1>
    <img id="spiderman" src="../static/sp1.jpg" alt="spiderman not available">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur tempore dolorum cupiditate iusto officiis maxime dicta ex dolorem numquam distinctio quidem reiciendis, minima id similique beatae nulla neque! Rem, repudiandae.
    </p>

</body>

</html>