#super {
    padding: 20px;
    color: red;
    background-color: black;
    text-align: center;
    border: 4px solid yellow;
    border-radius: 2px 2px 5px black;
}

#color {
    height: 300px;
    width: 300px;
}