{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Superhero Gallery</title>
</head>

<body>
    <div id="super">
        <h1>Superhero Gallery</h1>

    </div>
    <br>
    <img src="../static/color.jpg" id="color" alt="">
    <br>
    <a href="/admin/">Django Admin Views</a>
    <br>
    <a href="/hero/">List of hero</a>


</body>

</html>