{% extends 'superhero_theme.html'%} {% block content%}
<div id="super">
    <h1>Superhero Galleryy</h1>

</div>
<a class="btn btn-success" href="/admin/">Django Admin Views</a>
<br> {% if user.is_authenticated %}
<p> Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}

<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<br>
<br>
<a href="{% url 'signup' %}">Sign Up</a>{% endif %}
<br><br>
<br>
<img src="/static/pics/goku.png" id="goku" alt="">
<br>
<a class="btn btn-danger" href="/hero/">List of hero</a>
<br><br>
<a class="btn btn-danger" href="/hero/add">Add Hero</a> {% endblock content %}